<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Exportação de Contatos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../Utils/css/bootstrap.min.css" />
</head>
<body>
    <div class='container'>
        <div class="row">
            <nav class="navbar navbar-default">
                
            </nav>
        </div>
        <div class="row">
            <div class="col">
                <div id='content' class=' mt-5 mb-5'>
                    <button class='btn btn-success' id="btnExportJson">Exportar JSON de Contatos</button>
                </div>
            </div>
            <div class="col">
            </div>
            <div class="col">
                <div id='content2' class=' mt-5 mb-5'>
                    <button id="btnExportXls" class='btn btn-primary'>Exportar XLS de Contatos</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../Utils/js/jquery-3.2.1.min.js"></script>
<script src="../Utils/js/bootstrap.js"></script>
<script src="form.index.js"></script>
</html>